/* ---------------- GERAL ----------------  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    --nav-height: 9.55rem;
    --primary-color: hsla(258, 74%, 62%, 1);
    --line-color:hsla(240, 6%, 17%, 1);
    
    --dark-text: rgb(178, 178, 180);
    --blur-color: hsla(258, 100%, 71%, 1);
    --gradient-color: hsla(258, 74%, 71%, 0.2);

}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-color:#000000;
    overflow: overlay;
}
.wrapper {
    width: min(76.8rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}
ul {
    list-style: none;
}
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}


/* ---------------- NAVIGATION ----------------  */
nav {
    background-color: #000000;
    position: fixed;
    width: 100vw;
    z-index: 100;

}
nav .wrapper {
    height: 9.55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav button{
    background: none;
    cursor: pointer;
}
nav .menu {
    z-index: -2;
    transform: translateY(-100%);
}
nav .menu,
nav .close-menu {
    position: fixed;
}




/* ---------------- MENU-EXPANDED ----------------  */
nav::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    height: var(--nav-height);
    width: 100%;
    border-bottom: .1rem solid var(--line-color);
    z-index: -1;
}
body.menu-expanded {
    overflow: hidden;
}
body.menu-expanded .close-menu {
    position: static;
}

.menu, /*menu e close-menu: hidden*/
.close-menu,
body.menu-expanded .open-menu { /*open-menu quando body receber a classe, fica: hidden*/
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}
body.menu-expanded .menu{
    left: 0;
    width: 100%;
    background-color: #000000;
    top: var(--nav-height);
    transition: transform .3s;
    transform: translateY(0);
}
.menu ul li {
    position: relative;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 2.4rem;
    color: var(--dark-text);
    padding-block: 1.8rem;
    border-bottom: .1rem solid var(--line-color) ;
}
.menu ul li a {
    color: var(--dark-text);
}
.menu ul li a.actived::before {
    content: '';
    position: absolute;
    left: 0rem;
    top: 0;
    width: .5rem;
    height: 100%;
    background-color: var(--border-color);
}



/* ---------------- HOME ----------------  */
#home {
    padding-top: var(--nav-height);
}
section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h1 {
    color: white;
    font-family: 'Manrope';
    font-size: 3rem;
    margin-top: 8.85rem;
    width: min(30rem, 100%);
}
section .wrapper button {
    background: none;
    display: flex;
    align-items: center;
    margin-top: 8.8rem;
    padding: 10px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 0.6rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 1.1rem; 
}
section .wrapper button img {
    margin-left: 1rem;
}
.titles {
    margin-top: 9.8rem;
}
.titles h2 {
    font-size: 5rem;
    color: white;
    letter-spacing: -0.03em;  
}
.titles h2:last-child {
    color: black;
    
    text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color); 
}
section #cups {
    width: 100%;
    position: relative;
   

    
}
.blur-limit {
    position: relative;
    z-index: 2;
}

section .blur::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    background-color: var(--primary-color);
    filter: blur(6rem);
    z-index: -1;
}



/* ---------------- ABOUT----------------  */

#benefits {
    text-align: left;
    padding-top: 15rem;
    /* background-image: linear-gradient( to top , var(--gradient-color) 1rem, black ); */
}
#benefits header {
    width: 100%;
}
#benefits .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
#benefits .card {
    position: relative;
    width: 100%;
    height: 20.7rem;
    padding: 2.4rem;
    border: solid 1px var(--primary-color);
    border-radius: 0.6rem;
}

#benefits h4 {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    color: var(--primary-color);
}
#benefits h2 {
    font-size: 3rem;
    margin-bottom: 6rem;
    color: white;
}
#benefits .card i {
    font-size: 3rem;
    color: var(--primary-color);
    background-color: black;
    position: absolute;
    top: -1.6rem;
}
#benefits .card h3 {
    color: white;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}
#benefits p {
    color: var(--dark-text);
    margin-bottom: 2.4rem;
}


